@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

/* CSS Style Sheet */
:root{
    --thumbnail-top-padding:24px;
    --navigation-drawer-expanded-width:225px;
    --header-height:54px;
    --thumbnail-wrapper-expanded-height:208px;
}

*{
    margin:0;
    padding:0;
    border:none;
    font-family:'Noto Sans KR', sans-serif;
}

a{text-decoration:none;}

#header{
    position:absolute;
    top:0xp;
    z-index:4;
    width:100%;
    height:54px;
    background:#fff;
    box-shadow:0px 1px 4px 1px rgba(0,0,0,.12);
    display:flex;
    justify-content:space-between;
    align-items: center;
}

#header > .logo{
    display:inline-block;
    position:relative;
    left:20px;
    color:rgba(0,0,0,.55)
}

#header > .logo > a{
    color:rgba(0,0,0,.55)
}

#header > .util-menu{
    position:relative;
    right:10px;
}

.login_btn{
    background:#fff;
    padding:7px 14px;
    border: 1px solid rgba(0,0,0,.5);
    border-radius:5px;
    color:rgba(0,0,0,.55)
}

.login_btn:focus{
    outline: none !important;
    border-color: rgba(0,0,0,.95);
}

#thumbnail-wrapper{
    position:relative;
    z-index:3;
    top:55px;
    height:208px;
    width:255px;
    border-bottom: 1px solid #ddd;
}

.image-thumbnail{
    border-radius:50%;
    height:112px;
    width:112px;
    position: absolute;
    top: calc(var(--thumbnail-top-padding));
    left: calc((var(--navigation-drawer-expanded-width) - 80px) / 2);
    z-index:2;
}

.image-thumbnail-group:hover .image-thumbnail-hover{
    display:block;
}

.image-thumbnail-hover{
    position: absolute;
    width:112px;
    height:112px;
    border-radius:50%;
    top: calc(var(--thumbnail-top-padding));
    left: calc((var(--navigation-drawer-expanded-width) - 80px) / 2);
    background-color:rgba(0,0,0,0.5);
    display:block;
    z-index:3;
    display:none;
}

.image-thumbnail-hover .icon{
    position:relative; 
    z-index:4; 
    font-size:1.8em; color:#fff;
    top: calc(var(--thumbnail-top-padding) + 10px);
    left: calc((var(--navigation-drawer-expanded-width) - 140px) / 2);
}

.info_wrap{
    position:absolute;
    top: 140px; 
    padding:12px 24px;
    width:calc(var(--navigation-drawer-expanded-width) - 18px);
    text-align:center;
    font-family:'YT Sans', 'Roboto', 'Arial', sans-serif;
    line-height:20px;
    font-weight:500;
}
.info_wrap > .name{
    font-weight:bold;
    font-size:14px;
}

.info_wrap > .spot{
    font-size:12px;
    font-family: 'Roboto', 'Noto', sans-serif;
    letter-spacing: 0.011em;
    color:rgba(0,0,0,0,0.55);
}

#container > #nav{
    position:absolute;
    width:255px;
    height:100%;
    border-right:1px solid #ddd;
    z-index:2;
    background:#fff;
}

#main-menu{
    position:absolute;
    top:calc(var(--thumbnail-wrapper-expanded-height) + var(--header-height))
}

.menu-group > li{
    display:flex;
    height:22px;
    width:255px;
    justify-content: flex-start;
    align-items: stretch;
    padding:10px 0px;
    cursor:pointer;
}

.menu-group > li:hover{
    background:rgba(0,0,0,0.05);
    border-bottom: 3px solid;
    margin-bottom: -3px;
}

.menu-group > li:hover > div,
.menu-group > li:hover > i{
    color:#000;
}

.menu-group > li > i {
    text-align:center;
    flex-basis: 30%;
}

.menu-group > li > div{
    font-size:18px;
    line-height:24px;
    font-weight:400;
    flex-basis: 80%;
}
.menu-group > li > i{ font-size:24px;}
.menu-group > li > i,
.menu-group > li > div{
    color:rgba(0,0,0,0.55)
}


#main{
    position:absolute;
    top:50px;
    left:255px;
    width:100%;
}

.main-container{
    max-width:1278px;
    display:flex;
    justify-content:flex-start;
    justify-content:space-between;
    align-items: center;
}

.main-container > .main_title{
    font-weight:400;
    padding:23px 32px;
}

/* utill */
